.test {
	color: #000;
	font-size: 12px;
	font-weight: 500;
}

.test a:hover {
	color: #3402FF;
	font-size: 12px;
	font-weight: 500;
}

.margin-kontak-area-1 {
	margin-bottom: -60px;
}

.margin-kontak-area-2 {
	margin-bottom: -60px;
}

.margin-slide {
	margin-top: 35px !important;
}

ul li {
	list-style-type: disc;
}

hr {
	margin-top: 0px !important;
}

h3 {
	margin-bottom: 0px !important;
}

@media only screen and (max-width: 767px) {
	.section-heading h3 {
		font-size: 24px;
	}
	.test {
		color: #000;
		font-size: 12px;
		font-weight: 500;
		margin-top: 30px;
	}
	.margin-kontak-area-2 {
		margin-bottom: 0px;
	}
}